/********************************************************************************
			 --- ADA Jump to Main Content---
*********************************************************************************/
.ada-banner {position: relative;}
a.skip-main {left: -999px; position: absolute; top: auto; width: 1px; height: 1px; overflow: hidden; z-index: -999; transition: all 300ms ease-out;}
a.skip-main:focus, a.skip-main:active {font-size: 1.25em; color: var(--white); background-color: var(--primary); left: auto; top: auto; width: auto; height: auto; overflow: auto; margin: 0 5% ; padding: 0.4em 1em; border-radius: 0 0 5px 5px; text-align: center; font-size: 1.2em; z-index: 99999;}
