
/********************************************************************************
			 --- Typography ---
*********************************************************************************/
/*-----------Titles-----------*/
h1, h2, h3, h4, h5, h6 { margin: 0 0 0.833em 0; line-height: 1.2; font-weight:400; font-style: normal; color: var(--heading-color); font-family:var(--heading-family)}
.page-title {font-size: 4.0625rem; line-height: 1.125;}
h1, .h1 {font-size: 2.4375rem;}
h2, .h2 {font-size: 1.9375rem}
h3, .h3 {font-size: 1.5625rem; line-height: 1.4}
h4, .h4 {font-size: 1.1875rem; line-height: 1.6}
h5, .h5 {font-size: 1.0625rem; line-height: 1.6}
h6, .h6 {font-size: 0.875rem; line-height: 1.6}
.subheader {color: var(--subheading-color); margin-top: -0.6em}
/*-----------Articles-----------*/
.article { font-size: 1.1875rem; margin-bottom: 1.875rem}
.article p {line-height: 1.6;}
.article h1 {font-weight: 400;}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 { margin: 3.75rem 0 1.5625rem; }
.article .subheader {margin-top: -0.5em}
.article > :first-child, .article .mt0 {margin-top: 0}
.article .label--mb {margin-bottom: 0.8333em}
.article > p.drop-cap:first-letter {font-size:3rem; float: left; line-height: 0.5; margin-top: 1.125rem; margin-right: 0.375rem;}
.article blockquote {font-size: 0.7em;}
.article a:not(.button):not(.text-button) {border-bottom: 1px solid var(--primary); position: relative; transition: color 250ms ease, border 250ms ease;}
.article a:not(.button):not(.text-button):hover {border-color: var(--secondary)}
/*-----------Paragraphs-----------*/
p { margin: 0 0 1.500em 0; line-height:1.5; }
.lead { font-size: 1.5625rem; line-height:1.5;}
/*-----------Misc Typography-----------*/
.lato {font-family: 'Lato', sans-serif;}
.small { font-size:1rem; font-weight: 700; }
.light {font-weight:300;}
.regular { font-weight:400; }
.bold { font-weight:700; }
.italic { font-style: italic }
.caps { text-transform: uppercase;}
.regular-case {text-transform: none;}
.justify { text-align: justify }
.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }
.truncate { max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.t1 {font-size:0.875rem}
.t2 {font-size:1.000rem}
.t3 {font-size:1.1875rem}
.t4 {font-size:1.5625rem}
.t5 {font-size:1.9375rem;}
.t6 {font-size:2.4375rem;}
.t5, .t6 {line-height: 1.125}

@media only screen and (max-width: 1199px) {
	.page-title {font-size: 3.625rem;}
}

@media only screen and (max-width: 800px) {
	.page-title {font-size: 3.25rem;}
	h1, .h1 {font-size: 2.25em;}
	h2, .h2 {font-size: 1.8125rem}
}

@media only screen and (max-width: 480px) {
	.page-title {font-size: 2.625rem;}
	h1, .h1, .t6 {font-size: 2rem;}
	h2, .h2, .t5 {font-size: 1.6875rem}
	h3, .h3, .t4 {font-size: 1.375rem;}
}

/********************************************************************************
			 --- Branding Colors ---
*********************************************************************************/
.blue {color:var(--blue);}
.bg-blue {background-color: var(--blue);}
.purple {color: var(--purple);}
.bg-purple {background-color: var(--purple);}
.gold {color:var(--gold)}
.bg-gold {background-color: var(--gold);}
.cherry {color:var(--cherry)}
.bg-cherry {background-color: var(--cherry);}
.orange {color:var(--orange)}
.bg-orange {background-color: var(--orange);}
.green {color:var(--green)}
.bg-green {background-color: var(--green);}
.dark-gray {color:var(--dark-gray)}
.bg-dark-gray {background-color: var(--dark-gray);}
.gray {color:var(--gray)}
.bg-gray {background-color: var(--gray);}
.light-gray {color:var(--light-gray)}
.bg-light-gray {background-color: var(--light-gray);}
.off-white {color:var(--off-white)}
.bg-off-white {background-color: var(--off-white)}
/********************************************************************************
			 --- Links ---
*********************************************************************************/
a { color:var(--secondary); text-decoration: none; -webkit-transition: color 300ms ease-out; transition: color 300ms ease-out; }
a:hover {color:var(--primary); text-decoration: none; cursor: pointer; }
/********************************************************************************
			 --- Spacing ---
*********************************************************************************/
.mx-auto { margin-left: auto; margin-right: auto; }
.m0 { margin: 0 }
.mt0 { margin-top: 0 }
.mt1 { margin-top: 0.625rem }
.mt2 { margin-top: 1.25rem }
.mt3 { margin-top: 1.875rem }
.mt4 { margin-top: 2.5rem }
.mt5 { margin-top: 3.125rem }
.mt6 { margin-top: 3.75rem }
.mt7 { margin-top: 4.375rem }
.mt8 { margin-top: 5rem }
.mt9 { margin-top: 5.625rem }
.mt10 { margin-top: 6.25rem }
.mt11 { margin-top: 6.875rem }
.mt12 { margin-top: 7.5rem }
.mt14 { margin-top: 8.75rem;}
.mt16 { margin-top: 10rem;}
.mb0 { margin-bottom: 0 }
.mb1 { margin-bottom: 0.625rem }
.mb2 { margin-bottom: 1.25rem }
.mb3 { margin-bottom: 1.875rem }
.mb4 { margin-bottom: 2.5rem }
.mb5 { margin-bottom: 3.125rem }
.mb6 { margin-bottom: 3.75rem }
.mb7 { margin-bottom: 4.375rem }
.mb8 { margin-bottom: 5rem }
.mb9 { margin-bottom: 5.625rem }
.mb10 { margin-bottom: 6.25rem }
.mb11 { margin-bottom: 6.875rem }
.mb12 { margin-bottom: 7.5rem }
.mb14 { margin-bottom: 8.75rem;}
.mb16 { margin-bottom: 10rem;}
.p0 { padding: 0 }
.pt0 { padding-top: 0 }
.pt1 { padding-top: 0.625rem }
.pt2 { padding-top: 1.25rem }
.pt3 { padding-top: 1.875rem }
.pt4 { padding-top: 2.5rem }
.pt5 { padding-top: 3.125rem }
.pt6 { padding-top: 3.75rem }
.pt7 { padding-top: 4.375rem }
.pt8 { padding-top: 5rem }
.pt9 { padding-top: 5.625rem }
.pt10 { padding-top: 6.25rem }
.pt11 { padding-top: 6.875rem }
.pt12 { padding-top: 7.5rem }
.pt14 { padding-top: 8.75rem;}
.pt16 { padding-top: 10rem;}
.pb0 { padding-bottom: 0 }
.pb1 { padding-bottom: 0.625rem }
.pb2 { padding-bottom: 1.25rem }
.pb3 { padding-bottom: 1.875rem }
.pb4 { padding-bottom: 2.5rem }
.pb5 { padding-bottom: 3.125rem }
.pb6 { padding-bottom: 3.75rem }
.pb7 { padding-bottom: 4.375rem }
.pb8 { padding-bottom: 5rem }
.pb9 { padding-bottom: 5.625rem }
.pb10 { padding-bottom: 6.25rem }
.pb11 { padding-bottom: 6.875rem }
.pb12 { padding-bottom: 7.5rem }
.pb14 { padding-bottom: 8.75rem;}
.pb16 { padding-bottom: 10rem;}

@media only screen and (max-width: 1199px) {
	.mt6 { margin-top: 3.125rem }
	.mt7 { margin-top: 3.75rem }
	.mt8 { margin-top: 4.375rem }
	.mt9 { margin-top: 5rem }
	.mt10 { margin-top: 5.625rem }
	.mt11 { margin-top: 6.25rem }
	.mt12 { margin-top: 6.875rem }
	.mt14 { margin-top: 8.125em;}
	.mt16 { margin-top: 9.375rem;}
	.mb6 { margin-bottom: 3.125rem }
	.mb7 { margin-bottom: 3.75rem }
	.mb8 { margin-bottom: 4.375rem }
	.mb9 { margin-bottom: 5rem }
	.mb10 { margin-bottom: 5.625rem }
	.mb11 { margin-bottom: 6.25rem }
	.mb12 { margin-bottom: 6.875rem }
	.mb14 { margin-bottom: 8.125em;}
	.mb16 { margin-bottom: 9.375rem;}
	.pt6 { padding-top: 3.125rem }
	.pt7 { padding-top: 3.75rem }
	.pt8 { padding-top: 4.375rem }
	.pt9 { padding-top: 5rem }
	.pt10 { padding-top: 5.625rem }
	.pt11 { padding-top: 6.25rem }
	.pt12 { padding-top: 6.875rem }
	.pt14 { padding-top: 8.125em;}
	.pt16 { padding-top: 9.375rem;}
	.pb6 { padding-bottom: 3.125rem }
	.pb7 { padding-bottom: 3.75rem }
	.pb8 { padding-bottom: 4.375rem }
	.pb9 { padding-bottom: 5rem }
	.pb10 { padding-bottom: 5.625rem }
	.pb11 { padding-bottom: 6.25rem }
	.pb12 { padding-bottom: 6.875rem }
	.pb14 { padding-bottom: 8.125em;}
	.pb16 { padding-bottom: 9.375rem;}
}

@media only screen and (max-width: 480px) {
	.mt6 { margin-top: 2.5rem }
	.mt7 { margin-top: 3.125rem }
	.mt8 { margin-top: 3.75rem }
	.mt9 { margin-top: 4.375rem }
	.mt10 { margin-top: 5rem }
	.mt11 { margin-top: 5.625rem }
	.mt12 { margin-top: 6.25rem }
	.mt14 { margin-top: 7.5rem;}
	.mt16 { margin-top: 8.75rem;}
	.mb6 { margin-bottom: 2.5rem }
	.mb7 { margin-bottom: 3.125rem }
	.mb8 { margin-bottom: 3.75rem }
	.mb9 { margin-bottom: 4.375rem }
	.mb10 { margin-bottom: 5rem }
	.mb11 { margin-bottom: 5.625rem }
	.mb12 { margin-bottom: 6.25rem }
	.mb14 { margin-bottom: 7.5rem;}
	.mb16 { margin-bottom: 8.75rem;}
	.pt6 { padding-top: 2.5rem }
	.pt7 { padding-top: 3.125rem }
	.pt8 { padding-top: 3.75rem }
	.pt9 { padding-top: 4.375rem }
	.pt10 { padding-top: 5rem }
	.pt11 { padding-top: 5.625rem }
	.pt12 { padding-top: 6.25rem }
	.pt14 { padding-top: 7.5rem;}
	.pt16 { padding-top: 8.75rem;}
	.pb6 { padding-bottom: 2.5rem }
	.pb7 { padding-bottom: 3.125rem }
	.pb8 { padding-bottom: 3.75rem }
	.pb9 { padding-bottom: 4.375rem }
	.pb10 { padding-bottom: 5rem }
	.pb11 { padding-bottom: 5.625rem }
	.pb12 { padding-bottom: 6.25rem }
	.pb14 { padding-bottom: 7.5rem;}
	.pb16 { padding-bottom: 8.75rem;}
}

/********************************************************************************
			 --- Lists ---
*********************************************************************************/
.list-reset { list-style: none; padding: 0; margin: 0; }
ul, ol { margin: 0 0 1.000em 1.778em; padding: 0; }
ol, li { line-height: 1.5; }
ol { counter-reset: section; list-style-type: none; margin: 0 0 1.000em 0; padding: 0; }
ol li { counter-increment: section; position: relative; padding: 0 0 0 1.125em; margin-bottom: 1.250em; }
ol li:before { font-weight: 700; content: counters(section, ".") "."; display: inline-block; color:var(--primary); margin-right: 0.5em; }
ol ol { margin: 1.778em 0; }
ol ol li { font-size: 0.875em; }
ol ol li { padding-left: 2.1429em; }
ul.bullets, ul.checkmarks { list-style: none; margin: 0 0 1.000em 0; padding: 0; overflow: hidden; }
ul.bullets li, ul.checkmarks li { list-style: none; margin: 0 0 1.125em 0; padding: 0 0 0 1.250em; position: relative; }
ul.bullets li:before, ul.checkmarks li:before { font-family: var(--icon-family); display: block; position: absolute; top: 0; left: 0; color:var(--primary);}
ul.bullets li:before { font-size: 1em; content: "\e915"; top: -0.0625em;}
ul.checkmarks li:before { font-size: 1em; content: "\e94b"; top: -0.0625em;}
ul.bullets ul, ul.checkmarks ul { margin: 1.250em 0 0 0.667em; }
/********************************************************************************
			 --- Images ---
*********************************************************************************/
img { max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; display: inline-block; vertical-align: middle; }
img.aligntop { margin: 0 0 1.000em 0; }
img.alignleft, img.alignright {max-width:35%; margin-top:0.333em; margin-bottom:0.333em}
img.alignleft { float: left; margin-right:1.389em;}
img.alignright { float: right; margin-left:1.389em;}
img.border { border: 1px solid var(--light-gray); padding:0.278em; background: var(--white);}
@media only screen and (max-width: 375px) {
	img.alignleft, img.alignright {float:none; margin-top:0; margin-right:auto; margin-left:auto; display:block; max-width:100%;}
}

/*-----------Zoom Images-----------*/
.zoom-trigger {overflow: hidden;}
.zoom-trigger:hover .zoom-img {-webkit-transform: scale3d(1.05, 1.05, 1.05); transform: scale3d(1.05, 1.05, 1.05);}
.zoom-img {-webkit-transition: -webkit-transform 4s cubic-bezier(0.215, 0.61, 0.355, 1); transition: -webkit-transform 4s cubic-bezier(0.215, 0.61, 0.355, 1); transition: transform 4s cubic-bezier(0.215, 0.61, 0.355, 1); transition: transform 4s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 4s cubic-bezier(0.215, 0.61, 0.355, 1); }
/********************************************************************************
			 --- Buttons ---
*********************************************************************************/
.button {font-size: 1.125rem; text-align: left; cursor: pointer; font-weight: 700; line-height: 1; border: none; margin: 0 0 1.111em 0; position: relative; text-decoration: none; -webkit-appearance: none; display: inline-block; padding:0.8333em 1.3889em; transition: all 200ms ease; color: var(--white); background-color: var(--primary); position:relative; border-radius: var(--border-radius);}
body:not(.user-is-tabbing) .button {outline: none;}
.button:hover, .button:focus {background-color: var(--secondary); color: var(--white);}
.button--arrow {padding: 0.8333em 3.25em 0.8333em 1.3889em;}
.button--arrow::after {font-size: 0.9444em; content: '\e923'; font-family: var(--icon-family); font-weight: bold; right: 1.316rem; position: absolute; top: 50%; margin-top: -8px; font-weight: normal; transition: all 300ms ease-out; color: var(--white);}
.button--arrow:hover:after, .button--arrow:focus:after {right: 1.116rem; color: var(--white);}
.button.secondary {background-color: var(--secondary);}
.button.secondary::after {color: var(--white);}
.button.secondary:hover, .button.secondary:focus {background-color: var(--primary);}
.button--arrow.secondary:hover:after, .button--arrow.secondary:focus:after {color: var(--white);}
.button.large {font-size: 1.1875rem; padding: 1.000em 2.5em;}
.button--arrow.large {padding-right: 4em;}
.button.tiny {font-size: 0.875rem; padding: 0.875em 1.4286em;}
.button--arrow.tiny {padding-right: 3.25em;}
.button.expand {width: 100%;}
.button.wide {padding-left: 3.333em; padding-right: 3.333em;}
button.reset {border: none; background: none; cursor: pointer; font-weight: normal; text-decoration: none; -webkit-appearance: none; -webkit-border-radius: 0; border-radius: 0;}
/*-----------Disable Button-----------*/
.button[disabled], .button.disabled, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {background:var(--gray); border-color: transparent; color:var(--primary); cursor:default;}
/*-----------Text Buttons-----------*/
.text-button {font-size: 1.125rem; font-weight: 700; line-height: 1; margin: 0 0 1.111em 0; display: inline-block; color: var(--primary); transition: all 250ms ease;}
.text-button:hover {color: var(--secondary);}
.text-button.secondary {color: var(--secondary);}
.text-button.secondary:hover {color: var(--primary)}
.text-button--arrow {position: relative; padding-right: 2.25em}
.text-button--arrow::after {font-size: 0.9444em; content: '\e923'; font-family: var(--icon-family); font-weight: bold; right: 0.316rem; position: absolute; top: 50%; margin-top: -8px; font-weight: normal; transition: all 300ms ease-out; color: var(--primary);}
.text-button--arrow:hover:after, .text-button--arrow:focus:after {right: 0.116rem; color: var(--primary);}
.text-button--arrow.secondary:hover:after, .text-button--arrow.secondary:focus:after {color: var(--primary);}

@media only screen and (max-width: 375px) {
	.button {display:block; width:100%;}
}

/********************************************************************************
			 --- Alignment ---
*********************************************************************************/
.left-align { text-align: left }
.center { text-align: center }
.right-align { text-align: right }
.left { float: left }
.right { float: right }
/********************************************************************************
			 --- Borders and Rounding ---
*********************************************************************************/
.border { border-style: solid; border-width: 1px; border-color:var(--light-gray);}
.border-top { border-top-style: solid; border-top-width: 1px; border-top-color:var(--light-gray);}
.border-right { border-right-style: solid; border-right-width: 1px; border-right-color:var(--light-gray);}
.border-bottom { border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color:var(--light-gray);}
.border-left { border-left-style: solid; border-left-width: 1px; border-left-color:var(--light-gray);}
.border-none { border: 0 }
.rounded { border-radius: var(--border-radius) }
.circle { border-radius: 50% }
.rounded-top { border-radius: var(--border-radius) var(--border-radius) 0 0 }
.rounded-right { border-radius: 0 var(--border-radius) var(--border-radius) 0 }
.rounded-bottom { border-radius: 0 0 var(--border-radius) var(--border-radius) }
.rounded-left { border-radius: var(--border-radius) 0 0 var(--border-radius) }
.not-rounded { border-radius: 0 }
/********************************************************************************
			 --- Labels ---
*********************************************************************************/
.label {font-size: 0.8125rem; font-weight: 900; text-transform: uppercase; line-height: 1.2; letter-spacing: 1px; display: block; margin: 0; color: var(--primary);}
.label--secondary {color: var(--secondary); }
.label--tertiary {color: var(--gold);}
.label--spacing {margin: 0 0.909em;}
.label--mb {margin-bottom: 0.8333em}
/********************************************************************************
			 --- Blockquotes ---
*********************************************************************************/
blockquote {margin: 0 0 2.5em 0; padding:5.625em 0 0 0; position:relative;}
blockquote .quote {margin:0 0 2.1875em 0; position: relative;}
blockquote .quote > :last-child {margin-bottom: 0;}
blockquote .quote:before {font-size:3.625em; content:'\e9e3'; font-family: var(--icon-family); position:absolute; top:-1.2931em; left:0; color:var(--primary); line-height:1; }
blockquote .quote p {font-size:1.5625em; line-height: 1.35; color: var(--text-color);}
blockquote .cite {font-size:1em; text-transform: uppercase; font-weight: 700; color: var(--text-color);}
blockquote .cite span {font-size:0.857em; font-weight: 400; margin: 0 0 0 0.389em }
blockquote.quote--no-icon {padding-top: 0}
blockquote.quote--no-icon .quote::before {display: none;}
/********************************************************************************
			 --- Dividers ---
*********************************************************************************/
hr { border: none; height: 1px; background: var(--light-gray); clear: both; margin: 1.389em 0; }
/********************************************************************************
			 --- Responsive Embed ---
*********************************************************************************/
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/********************************************************************************
			 --- Accordion ---
*********************************************************************************/
.accordion {margin: 0 0 1.667em; border-bottom: 1px solid #E1E1D8;}
.accordion dt {font-size: 1.1875em; border-top: 1px solid #E1E1D8; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; padding:1.111em 2.222em 1.111em 0; margin: 0; position:relative;}
.accordion dt:after {font-size: 1.625em; content: "\e905"; font-family: var(--icon-family); font-weight: 400; position:absolute; top:0.4231em; right:0; color:var(--primary);}
.accordion dt.accordion-active:after { content: "\e9be"; }
.accordion dd { display: none; padding: 1.111em 1.111em 1.875em 0; margin: 0; }
body.user-is-tabbing .accordion dt:focus { margin-left: -1rem; margin-right: -1rem; padding-left: 1rem; padding-right: 3.22rem; }
body.user-is-tabbing .accordion dt:focus:after { right:1rem; }
body:not(.user-is-tabbing) .accordion dt:focus { outline: none; }
/********************************************************************************
			 --- Responsive Tabs ---
*********************************************************************************/
/*-----------Universal Tabs-----------*/
.resp-tabs-list {list-style:none; margin: 0; padding: 0;}
.resp-tabs-list li {font-size: 0.938em; display: inline-block; margin: 0; padding:0; cursor: pointer; color: var(--text-color); font-weight: 700; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.resp-tabs-list li:focus {outline: none;}
.resp-tabs-list li.resp-tab-active { color: var(--primary); position: relative; }
.resp-tabs-container {padding: 0; background-color: var(--white); clear: left;}
.resp-content-active, .resp-accordion-active, .resp-tab-content-active { display: block; }
.resp-tab-content { display: none; padding: 1.667em 1.944em;}
.resp-accordion {display: none;}
.resp-tabs {}
.resp-tabs--vertical .resp-tab-content {word-wrap: break-word; }

@media (min-width: 768px) {
	/*-----------Horizontal tabs-----------*/
	.resp-tabs--horizontal .resp-tabs-list {overflow: hidden; background: var(--light-gray); text-align: center;}
	.resp-tabs--horizontal .resp-tabs-list li { padding:1.000em 1.125em; position: relative;}
	.resp-tabs--horizontal .resp-tabs-list li.resp-tab-active:after {content: ""; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 3px; background: var(--primary);}
	/*-----------Vertical tabs-----------*/
	.resp-tabs--vertical {background: var(--off-white);}
	.resp-tabs--vertical::after {content: ""; display: table; clear: both;}
	.resp-tabs--vertical .resp-tabs-list { float: left; width: 30%;}
	.resp-tabs--vertical .resp-tabs-list li {display: block; padding: 1.000em 1.111em; cursor: pointer; float: none; border-bottom: 1px solid var(--light-gray); }
	.resp-tabs--vertical .resp-tabs-list li.resp-tab-active:after {content: ""; display: block; position: absolute; top: 0; right: 0; width: 3px; height: 100%; background: var(--primary);}
	.resp-tabs--vertical .resp-tabs-container {float: left;width: 70%;min-height: 398px;clear: none;}
	.resp-tabs--vertical .resp-tab-active { position: relative; z-index: 1; }
	.resp-tab-content {padding: 2.5em 2.8125em;}
	.resp-tab-content.resp-tab-content-active {display:block!important;}
	.resp-accordion-closed {display:block;}
}

@media (max-width: 767px) {
	.resp-tabs-list { display: none; }
	.resp-arrow { position: absolute; top: 0.833em; right: 0.833em; }
	.resp-arrow:after { content: "\e91b"; font-family: var(--icon-family); color:var(--primary);}
	.resp-tab-active .resp-arrow:after { content: "\e926"; }
	.resp-accordion {border-bottom: 1px solid var(--light-gray); display: block; cursor: pointer; margin: 0; padding: 0.667em; background-color: var(--off-white); color: var(--text-color); position: relative; font-size: 1.125em;}
	.resp-accordion.resp-tab-active { background: var(--white); color:var(--primary); }
}
/********************************************************************************
			 --- Tables ---
*********************************************************************************/
table.table {margin-bottom: 1.000em; table-layout: auto; width: 100%; }
table.table thead tr {border-top: 2px solid var(--light-gray); border-bottom: 2px solid var(--light-gray);}
table.table thead tr th, table.table thead tr td {font-size: 1em; padding:1.25em 0.857em; color: var(--primary); font-weight:700;}
table.table tr {border-bottom: 1px solid var(--light-gray);}
table.table tr th, table.table tr td { padding:1.25em 0.820em; text-align: left;}
table.table tr th:first-child, table.table tr td:first-child {padding-left: 0;}
table.table thead tr th, table.table tfoot tr th, table.table tfoot tr td, table.table tbody tr th, table.table tbody tr td, table.table tr td { display: table-cell; line-height: 1.4; }
/********************************************************************************
			 --- Slide Toggle ---
*********************************************************************************/
.slide-content { display: none; }
.slide-toggle:not(.button):after { content: "\e911"; font-family: var(--icon-family); margin: 0 0 0 0.333em; font-size:90%;}
.slide-toggle:not(.button).active:after { content: "\e917"; }
.slide-toggle:not(.button).active, .slide-toggle:not(.button).active:after { color:var(--gray); }
.slide-toggle.button:focus {background-color: var(--gray);}
.slide-toggle.button.active {background-color:var(--primary); color:var(--white);}
.slide-toggle.button:after { content: "\e911"; font-family: var(--icon-family); font-size:90%; margin-left:0.333em; }
.slide-toggle.button.active:after { content: "\e917";}
/********************************************************************************
			 --- Alerts ---
*********************************************************************************/
.alert { display: none; padding: 0.556em 0.833em; margin-bottom: 1.111em; background-color: var(--primary); color: var(--white);}
.alert p {line-height:1.2; padding-left:1.333em; position:relative;}
.alert > p, .alert > ul { margin-bottom: 0; }
.alert > p + p { margin-top: 0.278em; }
.alert a { color: var(--white); text-decoration: underline; }
.alert a:hover { color:rgba(var(--white-rgb),0.5); }
.alert p:before { font-family: var(--icon-family); color: var(--white); position:absolute; top:0; left:0; }
.alert-success, .alert-info, .alert-warning, .alert-danger { display: block; }
.alert-success { background-color:var(--green);}
.alert-success p:before { content: "\e94b"; }
.alert-info p:before { content: "\e98f"; }
.alert-warning { background-color:var(--gold); }
.alert-warning p:before { content: "\ea17"; }
.alert-danger { background-color:var(--cherry); }
.alert-danger p:before { content: "\e96d"; }
