/********************************************************************************
			 --- WP Toolbar  ---
*********************************************************************************/
/* This might require updating based on header whether it's fixed or not */
.admin-bar .header {top: 32px;}

@media only screen and (max-width: 782px) {
	.admin-bar .header {top: 46px;}
	#wpadminbar {position: fixed;}
}